body {
    background-color: var(--prm-acc-1);
}

.main-content-wrapper {
    padding: var(--sp-7) 0;
}

.product-list {}

/* Text Presets */
.text-preset-1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-4);
    font-weight: var(--fw-3);

    line-height: 120%;
}

.text-preset-2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-3);
    font-weight: var(--fw-3);

    letter-spacing: 0;
    line-height: 125%;
}

.text-preset-3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);

    letter-spacing: 0;
    line-height: 150%;
}

.text-preset-4 {
    font-family: var(--ff-primary);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);

    letter-spacing: 0;
    line-height: 150%;
}

.text-preset-4b {
    font-family: var(--ff-primary);
    font-size: var(--fs-1);
    font-weight: var(--fw-2);

    letter-spacing: 0;
    line-height: 150%;
}