body {
    background-color: var(--prm-acc-1);
}

.main-content-wrapper {
    width: calc(var(--sp-7) * 13.5);
    height: calc(var(--sp-7) * 13.5);
    padding: var(--sp-7) 0;
    margin: 0 auto;

    display: flex;
    align-items: start;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-list {
    margin-top: var(--sp-4);

    display: flex;
    flex-direction: column;
}

.items-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-6);
}

.img-and-cart-wrapper {
    margin-bottom: var(--sp-6);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img-and-cart-wrapper .item-img {
    border-radius: 10px;
}

.cart-btn {
    background-color: white;

    max-width: 10rem;
    padding: 0.75rem;
    border-radius: 20px;

    display: flex;
    position: absolute;
    bottom: -25px;
}

.cart-btn img {
    margin-right: var(--sp-1);
}

.cart-btn p {
    color: var(--prm-acc-6);

    margin-left: var(--sp-1);
}

.item-ctg {
    color: var(--prm-acc-5);
}

.item-name {
    margin: var(--sp-1) 0;
}

.item-price {
    color: var(--pricing-num);
}

/* Cart Display: Empty Cart */
.cart-selection-wrapper {
    background-color: white;

    width: calc(var(--sp-7) * 7);
    margin-left: var(--sp-5);
    padding: var(--sp-5);
}

.cart-selection-wrapper p:first-child {
    color: var(--pricing-num);
}

.empty-placeholder {
    padding: var(--sp-2) 0;
}

.empty-img img {
    margin: 0 auto;
}

.empty-placeholder p {
    color: var(--prm-acc-5);

    margin-top: var(--sp-2);
    text-align: center;
}

/* Text Presets */
.text-preset-1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-4);
    font-weight: var(--fw-3);

    line-height: 120%;
}

.text-preset-2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-3);
    font-weight: var(--fw-3);

    letter-spacing: 0;
    line-height: 125%;
}

.text-preset-3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);

    letter-spacing: 0;
    line-height: 150%;
}

.text-preset-4 {
    font-family: var(--ff-primary);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);

    letter-spacing: 0;
    line-height: 150%;
}

.text-preset-4b {
    font-family: var(--ff-primary);
    font-size: var(--fs-1);
    font-weight: var(--fw-2);

    letter-spacing: 0;
    line-height: 150%;
}